---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Simple",
    price: "500€",
    popular: false,
    features: [
      "1 Shooting Photo simple pour votre site",
      "Un site vitrine de 3 pages maximum",
      "Un nom de domaine et un hébergement inclus la première année",
      "Un site optimisé pour le référencement naturel",
      "Services de maintenance et de mise à jour 1 à 2 fois par an",
      "Conseils et recommandations pour améliorer votre visibilité en ligne",
      "Un accompagnement pour la recherche commerciale",
    ],
    button: {
      text: "En Savoir plus",
      link: "/",
    },
  },
  {
    name: "Professionnel",
    price: "1250€",
    popular: true,
    features: [
      "Shooting photo et vidéo simple pour votre site et réseaux sociaux",
      "Un site vitrine de 10 pages maximum",
      "Un nom de domaine et un hébergement inclus la première année",
      "Un site optimisé pour le référencement naturel",
      "Conseils et recommandations pour améliorer votre visibilité en ligne",
      "Services de maintenance et de mise à jour 1 à 6 fois par an",
      "Un accompagnement pour la recherche commerciale",
      "Un accompagnement pour la création de votre site",
    ],
    button: {
      text: "En Savoir plus",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "À partir de 2500€",
    popular: false,
    features: [
      "Shooting photo et vidéo sur une journée, 100% personnalisé",
      "Un site vitrine de 20 pages maximum 100% sur mesure",
      "Un nom de domaine et un hébergement inclus la première année",
      "Un site optimisé pour le référencement naturel",
      "Services de maintenance et de mise à jour 1 à 12 fois par an",
      "Un accompagnement pour la recherche commerciale",
      "Un accompagnement pour la création de votre site",
    ],
    button: {
      text: "Nous contacter",
      link: "/contact",
    },
  },
];
---

<Layout title="Tarifs">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Tarifs</Fragment>
      <Fragment slot="desc">
        Découvrez nos offres de création de sites web et de shooting photo
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
