---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500 text-lg md:text-xl">
    Compatible avec vos technologies préférées
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="simple-icons:wordpress"/>
    <Icon class="size-8 md:size-12" name="simple-icons:astro" />
    <Icon class="size-8 md:size-12" name="simple-icons:react" />
    <Icon class="size-8 md:size-12" name="simple-icons:svelte" />
    <img src="/public/vuejs.jpeg" alt="Vue.js Logo" class="w-8 h-8" />
    <Icon class="size-8 md:size-12" name="simple-icons:tailwindcss" />
    <Icon class="size-8 md:size-12" name="simple-icons:alpinedotjs" />
    <Icon class="size-8 md:size-12" name="simple-icons:vercel" />
    <Icon class="size-8 md:size-12" name="simple-icons:netlify" />
  </div>
</div>
